<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>MiniLib</title>
            </f:facet>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="50">
                    <p:layout>
                        <p:layoutUnit position="west" size="1000">Welcome, Admin</p:layoutUnit>
                        <p:layoutUnit position="center">
                            <p:link outcome="welcomePrimefaces" value="Logout">
                                <f:param name="productId" value="10" />
                            </p:link>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <p:layout>
                        <p:layoutUnit position="north">List Penyewa</p:layoutUnit>
                        <p:layoutUnit position="center">
                            <p:dataTable var="penyewa" value="#{penyewaBean.penyewa}">
                                <p:column headerText="">
                                    <p:selectManyCheckbox id="penyewaC">
                                        <f:selectItem itemLabel="" itemValue="#{penyewa.ID}"/>
                                    </p:selectManyCheckbox>
                                </p:column>
                                <p:column headerText="ID">
                                    <h:outputText value="#{penyewa.ID}"/>
                                </p:column>
                                <p:column headerText="Nama Penyewa">
                                    <h:outputText value="#{penyewa.nama}"/>
                                </p:column>
                                <p:column headerText="Alamat">
                                    <h:outputText value="#{penyewa.alamat}"/>
                                </p:column>
                            </p:dataTable>
                            <br/>
                            <br/>
                            <p:button value="Tambah" outcome="tambahPenyewa"/>
                            <p:button value="Hapus" onclick=""/>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
                <h:form>
                    <p:layoutUnit position="west">
                        <p:menu>
                            <p:submenu label="Transaksi">
                                <p:menuitem value="List Sewa Aktif"/>
                                <p:menuitem value="Transaksi"/>
                                <p:menuitem value="History"/>
                            </p:submenu>
                            <p:submenu label="Admin">
                                <p:menuitem value="Data Penyewa" style="color: blue;"/>
                                <p:menuitem value="Buku" outcome="listBuku"/>
                            </p:submenu>
                        </p:menu>
                    </p:layoutUnit>
                </h:form>
            </p:layout>
        </h:body>
    </f:view>
</html>

