<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <title>List Buku</title>
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            </f:facet>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="50">
                    <p:layout>
                        <p:layoutUnit position="west" size="1000">Welcome, Admin</p:layoutUnit>
                        <p:layoutUnit position="center">
                            <p:link value="Logout">
                                <f:param name="productId" value="10" />
                            </p:link>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <p:layout>
                        <p:layoutUnit position="north">List Buku</p:layoutUnit>
                        <p:layoutUnit position="center">
                            <p:dataTable var="buku" value="#{bukuBean.buku}">
                                <p:column headerText="">
                                    <p:selectManyCheckbox id="penyewaC">
                                        <f:selectItem itemLabel="" itemValue="#{buku.ID}"/>
                                    </p:selectManyCheckbox>
                                </p:column>
                                <p:column headerText="ID">
                                    <h:outputText value="#{buku.ID}"/>
                                </p:column>
                                <p:column headerText="Judul Buku">
                                    <h:outputText value="#{buku.judul}"/>
                                </p:column>
                                <p:column headerText="Kategori Buku">
                                    <h:outputText value="#{buku.kategori}"/>
                                </p:column>
                                <p:column headerText="Harga Sewa">
                                    <h:outputText value="#{buku.harga}"/>
                                </p:column>
                            </p:dataTable>
                            <br/>
                            <br/>
                            <p:button value="Tambah" outcome="tambahBuku"/>
                            <p:button value="Hapus" onclick=""/>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
                
                <h:form>
                    <p:layoutUnit position="west">
                        <p:menu>
                            <p:submenu label="Transaksi">
                                <p:menuitem value="List Sewa Aktif"/>
                                <p:menuitem value="Transaksi"/>
                                <p:menuitem value="History"/>
                            </p:submenu>
                            <p:submenu label="Admin">
                                <p:menuitem value="Data Penyewa" outcome="index"/>
                                <p:menuitem value="Buku" style="color: blue;"/>
                            </p:submenu>
                        </p:menu>
                    </p:layoutUnit>
                </h:form>
            </p:layout>
        </h:body>
    </f:view>
</html>

