<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <title>Tambah Buku</title>
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            </f:facet>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="50">
                    <p:layout>
                        <p:layoutUnit position="west" size="1000">Welcome, Admin</p:layoutUnit>
                        <p:layoutUnit position="center">
                            <p:link value="Logout">
                                <f:param name="productId" value="10" />
                            </p:link>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <p:layout>
                        <p:layoutUnit position="north">Data Bukua</p:layoutUnit>
                        <p:layoutUnit position="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:outputLabel value="ID" for="inId" />
                                <p:autoComplete id="inId" binding="#{inputID}"/>
                                
                                <p:outputLabel value="Judul" for="inJudul" />
                                <p:autoComplete id="inJudul" binding="#{inputJudul}"/>
                                
                                <p:outputLabel value="Kategori" for="inKategori" />
                                <p:autoComplete id="inKategori" binding="#{inputKategori}"/>
                                
                                <p:outputLabel value="Harga Rp. " for="inHarga" />
                                <p:autoComplete id="inHarga" binding="#{inputHarga}"/>
                            </h:panelGrid>
                            <br/>
                            <br/>
                            <p:commandButton value="Submit" action="#{bukuBean.tambahBuku(inputID.value, inputJudul.value, inputKategori.value, inputHarga.value)}"/>
                            <p:button value="Kembali" outcome="index"/>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
                
                <h:form>
                    <p:layoutUnit position="west">
                        <p:menu>
                            <p:submenu label="Transaksi">
                                <p:menuitem value="List Sewa Aktif"/>
                                <p:menuitem value="Transaksi"/>
                                <p:menuitem value="History"/>
                            </p:submenu>
                            <p:submenu label="Admin">
                                <p:menuitem value="Data Penyewa" outcome="index"/>
                                <p:menuitem value="Buku"  style="color: blue;" outcome="listBuku"/>
                            </p:submenu>
                        </p:menu>
                    </p:layoutUnit>
                </h:form>
            </p:layout>
        </h:body>
    </f:view>
</html>